body{
    font-family: monospace;
    backgr/*ound-image: url('images/International_Flag_of_Planet_Earth.svg');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-si*/ze: cover; /* Resize the background image to cover the entire container */
}

.centered{
      text-align: center;
}

.lang {
    padding: 5px;
    margin: 5px;
    border: 2px solid rgb(158, 150, 137);
    border-radius: 5px;
    font-size: 14pt;
    cursor: pointer;
}

.incorrect{
    background-color: red;

}

.word{
}

#dots{
    font-size: 20pt;
    cursor: pointer;
}